.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    color: #23272b;
    text-align: center;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../mont.jpg);

    background-repeat: no-repeat;

    background-position: center center;

    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;

}