<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welcome to MessaginApp</title>
    <th:block th:insert="base :: header"></th:block>
</head>

<body>

<div th:replace="base :: nav"></div>

<div class="container">
    <div class="text-center">
        <br/>
        <br/>
        <h1 class="text-white">
            Welcome to Code Work Academy Messaging Application!!
        </h1>
    </div>
    <br/>
    <br/>

    <div class="jumbotron text-center">
        <div class="text-center">
            <h3> List of Messages </h3>
        </div>
        <br/>
        <table class="table table-borderless table-hover shadow mb-4 bg-white">
            <tr>
                <th><strong> Content </strong>&nbsp;&nbsp;</th>
                <th><strong>Sent By </strong>&nbsp;&nbsp;</th>
                <th><strong>Date </strong> &nbsp;&nbsp;</th>
            </tr>

            <tr th:each="message : ${messages}">
                <td th:text="${message.content}"></td>
                <td th:text="${message.sender}"></td>
                <td th:text="${message.date}"></td>


                <div sec:authorize="isAuthenticated()" class="nav-link text-warning" th:inline="text">
                    <td>
                  <button><a th:href="@{/detail/{id}(id=${message.id})}" class="btn btn-outline-success" role="button"> <strong>Details</strong> </a></button>
                    </td>
                </div>

                <div sec:authorize="hasAuthority('ADMIN')">
                    <td>
                    <a th:href="@{/delete/{id}(id=${message.id})}" class="btn btn-danger" role="button">
                        <strong>Delete</strong> </a>
                    </td>
                </div>

            </tr>

        </table>

        <br/>
        <br/>

        <div class="aligntext-center">
            <td>
                <span sec:authorize="!isAuthenticated()" class="nav-link  text-warning ">
                    <a href="/login"  class="btn btn-outline-success text-color" role="button"><strong>Login</strong></a>
                    <a href="/register"  class="btn btn-outline-success text-color" role="button" > <strong>Register</strong></a>
                </span>
            </td>
            <td>
                <span sec:authorize="isAuthenticated()" class="nav-link text-warning" th:inline="text">
                    <a href="/addMessage"  class="btn btn-success " role="button"><strong>Add Message</strong></a>
                    <a href="/logout" class="btn btn-outline-success  text-color" role="button"><strong>Log out</strong></a>
                </span>

            </td>

        </div>

    </div>
</div>



<div th:replace="base ::  footer"></div>

</body>
</html>