<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welcome to MessaginApp</title>
    <th:block th:insert="base :: header"></th:block>
</head>

<body>

<div th:replace="base :: nav"></div>

<div class="container">
    <div class="text-center">
        <br/>
        <br/>
        <h1 class="text-white">
            Welcome to Code Work Academy Messaging Application!!
        </h1>
    </div>
    <br/>
    <br/>

    <div class="jumbotron text-center">
        <div class="text-center">
            <h3> Messages </h3>
        </div>
        <br/>

        <table class="table table-borderless table-hover shadow mb-4 bg-white">
            <thead>
            <th><strong>Title </strong></th>
            <th><strong>Posted By </strong></th>
            <th><strong>HashTags </strong></th>
            <th></th>
            </thead>

            <tr th:each="message : ${messages}">

                <td th:text="${message.title}"></td>

                <td >
                <a href="@{/myprofile/{id}(id=${user.id})}">[[${message.user.firstName}]] </a>
                    <span><a class="pr-4" th:text="${message.date}"></a> </span> </td>

                <td th:text="${message.hashtag}"></td>

                <td>
                    <a th:href="@{/detail/{id}(id=${message.id})}" th:inline="text" class="btn btn-success">
                        <strong>Details</strong> </a>
                    <span th:if="${user_id==message.user.id}">
                    <a th:href="@{/update/{id}(id=${message.id})}" th:inline="text" class="btn btn-warning">
                        <strong>Update</strong> </a>
                    <a th:href="@{/delete/{id}(id=${message.id})}" th:inline="text" class="btn btn-danger">
                        <strong>Delete</strong> </a>
                    </span>
                </td>

            </tr>

        </table>

        <br/>
        <br/>

        <!--<div class="aligntext-center">-->
        <!--<td>-->
        <!--<span sec:authorize="!isAuthenticated()" class="nav-link  text-warning ">-->
        <!--<a href="/login"  class="btn btn-outline-success text-color" role="button"><strong>Login</strong></a>-->
        <!--<a href="/register"  class="btn btn-outline-success text-color" role="button" > <strong>Register</strong></a>-->
        <!--</span>-->
        <!--</td>-->
        <!---->

        <!--</div>-->

        <!--</div>-->
    </div>
</div>


<div th:replace="base ::  footer"></div>

</body>
</html>