<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <th:block th:insert="base :: header"></th:block>
</head>

<body>

<div th:replace="base :: nav"></div>

<div class="container">
    <div class="bg-light form">

        <h2 class="text-center py-3">Add a Message</h2>

        <form action="#" th:action="@{/addMessage}" th:object="${message}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="form-group row">
                <label for="messageInput" class="col-sm-3 col-form-label">&nbsp;Enter your message: </label>
                <div class="col-sm-9">
                    <textarea class="form-control form-group col-sm-6"
                              id="messageInput" rows="3" cols="110"
                              placeholder="Type your message!" th:field="*{content}"  name="content"></textarea>
                    <br/>
                </div>
            </div>

            <div class="form-group row">
                <label for="dateInput" class="col-sm-3 col-form-label">&nbsp;Message Post Date :
                </label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" th:field="*{date}" id="dateInput" name="date" >
                    <br/>
                </div>
            </div>

            <div class="form-group row">
                <label for="nameInput" class="col-sm-3 col-form-label">&nbsp;Message Sent By:</label>
                <div class="col-sm-4">
                    <input type="text" th:field="*{sender}"   class="form-control" id="nameInput" name="sender" >
                    <br/><br/>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 text-center">
                    <td>
                        <button type="submit" class="btn btn-color text-white">Submit</button>
                        <button type="reset" class="btn btn-btn-color text-blue">Reset</button>
                    </td>
                </div>
            </div>
        </form>

    </div>
</div>
<div th:replace="base :: footer"></div>

</body>
</html>