<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

    <div th:replace="base :: nav"></div>

    <div class="container">
        <!--insert webpage content here-->
    </div>

    <div th:replace="base :: footer"></div>

</body>
</html>

<!--<div class="container">-->
    <!--<div class="jumbotron">-->
        <!--<div >-->
            <!--<h1> View Message Details</h1>-->
        <!--</div>-->
        <!--<a href="/">Show All messages </a> <br />-->

        <!--Title: <span th:text="${message.title}" ></span> <br />-->
        <!--Content: <span th:text="${message.content}" ></span> <br />-->
        <!--Date: <span th:text="${message.date}" ></span> <br />-->


    <!--</div>-->
<!--</div>-->
<!--<div th:replace="base :: footer"></div>-->



<!--<div>-->
<!--<h3 th:inline="text"><strong>Title: </strong> [[${message.title}]]</h3>-->
<!--<br/>-->
<!--</div>-->
<!--<h3 th:inline="text"><strong>Content: </strong> [[${message.content}]]</h3>-->
<!--&lt;!&ndash;<p>&ndash;&gt;-->
<!--&lt;!&ndash;<strong>HashTags: </strong>&ndash;&gt;-->
<!--&lt;!&ndash;<span th:each="tag : ${tags}">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="btn btn-light">&ndash;&gt;-->
<!--&lt;!&ndash;<span>#[[${tag.name}]]</span></a>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--<h3 th:inline="text"><strong>HashTags: </strong> [[${message.hashtag}]]</h3>-->

<!--<p>-->
<!--Posted by: <img id="img"-->
<!--src="http://gravatar.com/avatar/5623241a8751fef7598d621664854feb?s=20" alt="gravatar"/>-->
<!--<strong><a th:inline="text" href="@{/myprofile/{id}}"> [[${user.username}]]</a></strong>-->
<!--<span>[[${message.date}]]</span>-->
<!--</p>-->


<!--</div>-->

<!--<div>-->
<!--<strong>Title: </strong>-->
<!--<span><a class="pr-4" th:text="${message.title}"> </a></span><br/>-->
<!--</div>-->

<!--<p class="detail-img">-->
<!--<img id="gravatar" th:src="${message.img}" alt="post image"/>-->
<!--</p>-->

<!--<p>-->
<!--<strong>Content: </strong>-->
<!--<span><a class="pr-4" th:text="${message.content}"> </a></span>-->
<!--</p>-->
<!--<p>-->
<!--<strong>HashTags: </strong>-->
<!--<span><a class="pr-4" th:text="${message.hashtag}"> </a>-->
<!--&lt;!&ndash;<a class="btn btn-light"&ndash;&gt;-->
<!--&lt;!&ndash;href="/getPostsFromTag/15">&ndash;&gt;-->
<!--&lt;!&ndash;<span>##bootcamp#java</span></a>&ndash;&gt;-->
<!--</span>&nbsp;-->
<!--</p>-->

<!--<p>-->
<!--Posted by:-->
<!--&lt;!&ndash;<img id="gravatar"&ndash;&gt;-->
<!--&lt;!&ndash;src="http://gravatar.com/avatar/92eb5ffee6ae2fec3ad71c777531578f?s=20" alt="gravatar"/>&ndash;&gt;-->
<!--<strong>-->
<!--<a href="@{/myprofile/{id}(id=${message.id})}">-->
<!--<a class="pr-4" th:text="${message.content}"> </a>-->
<!--</a>-->
<!--</strong>-->
<!--<span><a class="pr-4" th:text="${message.date}"></a></span>-->
<!--</p>-->