<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Information </title>

    <th:block th:insert="base :: header"></th:block>
</head>

<body>

<div th:replace="base :: nav"></div>

<div class="container bg-light ">
    <div class="my-5 "></div>

    <div class="my-4 py-5" align="center">

        <h2 class="text-center py-3">Message Detail</h2>

        <table>
            <tr class="text-dark">
                <th class="pr-3">Content</th>
                <th class="pr-3">Sent By</th>
                <th class="pr-3">Date</th>
            </tr>
            <tr>
                <td class="pr-4" th:text="${message.content}">  </td>
                <td class="pr-3" th:text="${message.sender}"> </td>
                <td class="pr-3" th:text="${message.date}"></td>

            </tr>
        </table>
        <br />

        <td>
            <button class="btn btn-outline-success text-white" role="button"><a href="/"><strong>View All Messages</strong></a></button>
            <span th:if="${user_id==message.user.id}">
                <button class="btn btn-outline-success text-white" role="button"><a  th:href="@{/update/{id}(id=${message.id})}"> <strong>Edit Post </strong></a></button>
            </span>

        </td>
    </div>
</div>

<div th:replace="base :: footer"></div>

</body>
</html>