<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div th:replace="base :: nav"></div>


<div class="container bg-light align-content-center">
    <div class="my-4 "></div>
    <h2 class="text-center">View Message Detail</h2>
    <div>
        <strong>Title: </strong>
        <span><a class="pr-4" th:text="${message.title}"> </a></span><br/>

    </div>

    <p class="detail-img">
        <img id="gravatar" th:src="${message.img}" alt="post image"/>
    </p>

    <p>
        <strong>Content: </strong>
        <span><a class="pr-4" th:text="${message.content}"> </a></span></p>
    <p>
    <p>
        <strong>Hobbies: </strong>
        <span><a class="pr-4" th:text="${message.user.hobby}"> </a></span></p>
    <p>
        <strong>HashTags: </strong>
        <span><a class="pr-4" th:text="${message.hashtag}"> </a>
            <!--<a class="btn btn-light"-->
            <!--href="/getPostsFromTag/15">-->
            <!--<span>##bootcamp#java</span></a>-->
                    </span>&nbsp;
    </p>

    <p>
        Posted by:
        <strong>
            <a href="@{/myprofile/{id}(id=${user.id})}">[[${message.user.firstName}]]
                <!--<a class="pr-4" th:text="${message.user.firstName}"> </a>-->
            </a>
        </strong>
        <span><a class="pr-4" th:text="${message.date}"></a></span>
    </p>

    <br/>
</div>
</div>
<div class="emptySpace"></div>
<div th:replace="base :: footer"></div>


</body>
</html>


